{{#if posters}}
  <header {{action 'postersToggle' }}>
    {{i18n 'top_posters.header'}}
    <button class='btn btn-top-posters'>
      <i {{bind-attr class="iconClass"}}></i>
    </button>
  </header>

  {{#if expanded}}

    <ol class="top-posters">
      {{#each poster in posters}}
        <li>
          {{#link-to 'user' poster classNames="top-poster-link"}}
            {{avatar poster imageSize="small"}}
            <span class='poster-username'>
              {{poster.username}}
            </span>
          {{/link-to}}
          <span class='poster-posts-count'>
            {{i18n 'top_posters.number_of_posts' count=poster.posts_count}}
          </span>
        </li>
      {{/each}}
    </ol>
  {{/if}}

{{/if}}